<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PubMedBaseUrl" value="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/"/>
    <add key="PubMedBaseIdConverterUrl" value="http://www.ncbi.nlm.nih.gov/pmc/utils/idconv/v1.0/"/>
    <add key="PubMedBaseFullArticleUrl" value="http://www.ncbi.nlm.nih.gov/pmc/articles/"/>    
    <add key="PubMedDeveloperEmail" value="craig.campbell@ucdenver.edu"/>
    <add key="PubMedDatabase" value="pubmed"/>
    <add key="PubMedApplicationName" value="CUCancerCenter"/>
  </appSettings>
</configuration>